.section {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

.activation-title {
    padding: 120px 0 0 0;
}

.activation-button {
    margin: 30px 0 40px 0;
    letter-spacing: 1px;
    padding: 12px;
}

.white-oval {
    height: 160px;
    width: calc(100vw*1.25);
    background-color: white;
    position: absolute;
    bottom: -120px;
    left: calc(-100vw/8);
    border-radius: 50% / 0 0 100% 100%;
    overflow: hidden;
}