.section {
    max-width: 1100px;
}

.section-with-background-color {
    background-color: #F4F3F0;
}


@media screen and (min-width: 701px) {
    .section-with-background-color {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}

/* smaller screens less space between components */
@media screen and (max-width: 700px) {
    .section-with-background-color {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.heading {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.video {
    width: 100%;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.feature-row {
    align-items: top;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.feature-col {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

.feature-text {
    font-size: 1rem;
    font-family: 'poppins';
    font-weight: 400;
    padding-top: 50px;
}