.contact-title {
    margin: 10px 0 20px 0;
    font-weight: bold;
}

.contact-button {
    margin: 10px 0 10px 0;
}

.section {
    max-width: 550px;
}

.form {
    padding: 35px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}