.features-row {
    background-color: #0097BE;
    margin-top: 60px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;;
    padding-right: 40px
}

.feature-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'roboto slab';
}