.section {
    background-color: white;
    height: calc(100vh / 1.2);
    display: flex;
}

.row {
    height: 100%;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: 'rosario';
}

.feature-text {
    font-family: poppins;
    font-size: 1rem;
}

.feature-link {
    text-decoration: underline;
    color: #0097BE;
}

.feature-link:hover {
    color: #5A5B67;
}