.container {
    max-width: 1100px;
    margin: 150px auto 150px auto;
}

.row {
    height: 100%;
    align-items: center;
}

.text {
    padding: 50px 50px 20px 50px;
}

.title {
    font-family: 'Helvetica Neue';
    font-weight: 600;
}

.subtitle {
    padding: 20px 0 20px 0;
    font-family: 'poppins';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
}

.feature-link {
    text-decoration: underline;
    color: #0097BE;
    margin-bottom: 50px;
}

.feature-link:hover {
    color: black;
}