/* Medium and bigger screens */
@media screen and (min-width: 769px) {
    .section {
        background-color: #F4F3F0;
        height: 768px;
        display: flex;
        align-items: center;
    }

    .hero-text {
        margin: 220px 0 220px 0;
    }
}

/* Small screens: content underneath each other */
@media screen and (min-width:576px) and (max-width: 768px) {
    .section {
        background-color: #F4F3F0;
        height: 1536px;
        display: flex;
        align-items: center;
    }

    .hero-text {
        margin: 120px 0 20px 0;
    }
}

/* XS screens padding on right side */
@media screen and (max-width: 575px) {
    .section {
        background-color: #F4F3F0;
        height: 1300px;
        display: flex;
        align-items: center;
    }

    .hero-text {
        margin: 120px 10px 20px 10px;
    }
}

.row {
    height: 100%;
    align-items: top;
    text-align: left;
}

.column {
    padding: 25px;
}

.feature-title {
    padding: 20px 0 20px 0;
    /* font-weight: bold; */
}

.feature-link {
    text-decoration: underline;
    color: #0097BE;
}

.feature-link:hover {
    color: #5A5B67;
}