/* Medium and bigger screens */
@media screen and (min-width: 769px) {

    /* Curved linear gradient: */
    /* https://stackoverflow.com/questions/45494235/is-it-possible-to-do-a-curved-line-with-css-gradient */
    .section {
        background-image: radial-gradient(ellipse farthest-corner at -20% 850%, #DDD1C5 0%, #F4F3F0 75%, #DDD1C5 75%);
        height: 384px;
        display: flex;
    }
}

/* If small screen and thus content will be placed under each other, make section of larger height */
/* Small screens: content underneath each other */
@media screen and (min-width:576px) and (max-width: 768px) {
    .section {
        background-image: radial-gradient(ellipse farthest-corner at -20% 850%, #DDD1C5 0%, #F4F3F0 75%, #DDD1C5 75%);
        height: 768px;
        display: flex;
    }
}

/* XS screens padding on right side */
@media screen and (max-width: 575px) {
    .section {
        background-image: radial-gradient(ellipse farthest-corner at -20% 850%, #DDD1C5 0%, #F4F3F0 75%, #DDD1C5 75%);
        height: 768px;
        display: flex;
    }

}


.row {
    height: 100%;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: 'rosario';
}

.feature-text {
    font-family: poppins;
    font-size: 1rem;
}

.feature-link {
    text-decoration: underline;
    color: #0097BE;
}

.feature-link:hover {
    color: #5A5B67;
}