.footer {
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #0097BE;
    color: white;
}

.footer-logo {
    padding-bottom: 30px;
}

.footer-title {
    font-weight: 600;
}

.footer-link {
    text-decoration: none;
    color: black;
}

.footer-link:hover {
    color:azure;
}

.footer-copyright {
    margin-top: 10px;
    font-size: 12px;
}

