.footer {
    padding-top: 200px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #0097BE;
    color: white;
}

.footer-logo {
    padding-bottom: 30px;
}

.footer-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-family: 'poppins';
    font-size: 1rem;
    line-height: 2.3;
    font-weight: 300;
}

.footer-link:hover {
    color:azure;
}

.footer-copyright {
    margin-top: 10px;
    font-size: 12px;
}

