.container {
    /* So it doesnt scroll horizontally */
    overflow: hidden;
    position: relative;
}

/* I had to create a container with two divs inside to be able to get the background image as desired. Basically one div (.container)
holds two completely overlapping divs (.bg and .hero-section) */
.bg {
    /* So it completely overlaps with the actual herosection */
    position: absolute;
    top: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
    z-index: -1;
    color: white;
}

.hero-section {
    top: 0;
    left: 0;
    max-width: 950px;
    margin: auto;
}

@media screen and (min-width: 769px) {
    .bg {
        height: 768px;
        /* height: 100%; */
        /* width: 100%; */

        /* Position in in the 1/3 right part of the screen, cover whole height of screen */
        left: calc(100vw / 1.5);
        width: calc(100vw / 2);
        background-image: url('/images/hero-background.jpg');
    }

    /* Same as bg height. For now set hardcoded but can improve this by getting  */
    .hero-section {
        height: 768px; 
    }

    /* Medium and bigger screens */
    .hero-text {
        margin: 220px 0 220px 0;
    }
}

/* Small screens: content underneath each other */
@media screen and (min-width:576px) and (max-width: 768px) {
    .bg {
        height: calc(100vh);
        /* Position in in the 1/3 right part of the screen, cover whole height of screen */
        left: calc(100vw / 1.2);
        width: calc(100vw / 1.2);
        background-color: #0097BE;
    }

    .hero-section {
        height: calc(100vh);
        margin-top: 15%;
    }

    .hero-text {
        margin: 120px 0 20px 0;
    }
}

/* XS screens padding on right side */
@media screen and (max-width: 575px) {
    .bg {
        height: calc(100vh);
        /* Position in in the 1/3 right part of the screen, cover whole height of screen */
        left: calc(100vw / 1.2);
        width: calc(100vw / 1.2);
        background-color: #0097BE;
        opacity: 25%;
    }

    .hero-section {
        height: calc(100vh);
        margin-top: 15%;
    }

    .hero-text {
        margin: 120px 10px 20px 10px;
    }
}

.contact-button {
    margin-right: 20px;
    margin-top: 20px;
    font-size: 0.9rem;
    width: 200px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.learn-button {
    margin-top: 20px;
    font-size: 0.9rem;
    width: 200px;
    text-transform: uppercase;
    letter-spacing: 1px;
}