.container {
    /* So it doesnt scroll horizontally bc of css circle shapes */
    /* overflow: hidden; */
    position: relative;
}

.hero-section {
    top: 0;
    left: 0;
    max-width: 1100px;
    margin: 120px auto 120px auto;
}

.hero-text{
    padding: 0 30px 30px 30px;
    margin: 0 auto 0 auto;
}

.row {
    align-items: center;
}

.paragraph {
    padding: 20px 0 10px 0;
    font-family: 'poppins';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
}

.contact-button {
    margin-right: 20px;
    margin-top: 20px;
    font-size: 0.7rem;
    width: 150px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    padding: 10px;
}

.learn-button {
    margin-top: 20px;
    font-size: 0.7rem;
    width: 150px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    border-width: 2px;
    padding: 10px;
}