.title {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: poppins;

}

.subtitle {
    /* color: red; */
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.section {
    padding-top: 70px;
}

.featureText {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}