/* GLOBAL STYLING CONFIG */

h1 {
    font-family: 'helvetica';
    font-weight: bold;
}

h2 {
    font-family: 'helvetica';
    font-weight: bold;
}

h3 {
    font-family: 'helvetica';
}

title {
    font-size: 250% !important;
    font-weight: 300;
}

.section {
    padding-top: 70px;
}

.featureText {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}