.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.9rem;
    font-family: poppins;
    margin: 10px 10px 10px 10px;
}

.navbar-brand {
    margin-right: 70px;
}

.nav-item {
    padding-left: 25px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

.nav-button {
    font-size: 0.9rem;
    background-color: #5A5B67;
    color: white;
    border: none;
    text-decoration: none !important;
    border-radius: 10px;
}

.nav-button:hover {
    background-color: #343A3F;
}