.container {
    max-width: 1100px;
    margin: 0 auto 0 auto;
    padding: 25px 0 25px 0;
}

.row {
    height: 100%;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}


.left-text, .right-text {

    margin-top: auto;
    margin-bottom: auto;
}

.image {
    margin-top: 50px;
    margin-bottom: 50px;
    max-height: 400px;
}

@media screen and (min-width: 860px) and (max-width: 1270px) {
    .left-text, .right-text {
        padding-left: 70px;
    }

    .right-text {
        padding-right: 70px;
    }
}

@media screen and (min-width: 770px) and (max-width: 860px) {
    .left-text {
        padding-left: 70px;
    }

    .right-text {
        padding-right: 70px;
    }
}

@media screen and (max-width: 770px) {
    .left-text, .right-text {
        padding-left: 50px;
        padding-right: 50px;

    }
}




.title {
    font-family: 'Larsseit';
    font-weight: 600;
}

.subtitle {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'poppins';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
}
